//
// CNX - Fullscreen background
// 
// --------------------------------------------------

@mixin fullsize-bg($image-url) {
	background: url($image-url) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}